/* TODO: Make it awesome */

h1 {
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#catalog{
    
}

ul {


}

header {


}

.card  {


}

body {
    background-color: lavender;
    align-items: center;

}

.copy {


}

.deck col-1 {

}

.deck col-2 {


}

table {



}

tr {


}

th {


}

ol {

    
}